@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

/* General Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--light-green: hsl(148, 38%, 91%);
	--green: hsl(169, 82%, 27%);
	--red: hsl(0, 66%, 56%);
	--white: hsl(0, 0%, 100%);
	--medium-grey: hsl(186, 15%, 59%);
	--dark-grey: hsl(187, 24%, 22%);

	--font: 1.6rem;
	--font-w-normal: 400;
	--font-w-bold: 700;

	--line-height: 1.5;
	--min-height: 100svh;
}

body {
	font-family: 'Karla', Sans-Serif;
	font-size: var(--font);
	font-weight: var(--font-w-normal);
	color: var(--dark-grey);
	line-height: var(--line-height);
	min-height: var(--min-height);
	background-color: var(--light-green);
	position: relative;
}

/* Form */
.contact {
	max-width: 73.6rem;
	background-color: var(--white);
	padding: 3.2rem;
	margin: auto;
	border-radius: 1.6rem;
	transform: translateY(50%);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.form-title {
	font-size: 3.2rem;
	letter-spacing: -1px;
	font-weight: var(--font-w-bold);
	margin-bottom: 1.5rem;
}

.name {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.form__label {
	display: inline-block;
	padding-bottom: 1rem;
	cursor: pointer;
}

.star {
	color: var(--green);
}

.form__input {
	min-width: 100%;
	min-height: 5rem;
	font-size: inherit;
	font-family: inherit;
	color: inherit;
	padding: 0.5rem 2rem;
	border: none;
	border: 0.1rem solid var(--medium-grey);
	border-radius: 0.8rem;
	display: block;
	cursor: pointer;
}

.form__input:focus {
	outline: none;
	border: 1px solid var(--green);
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
}

.name-error,
.email-error,
.query-error,
.message-error,
.consent-error {
	color: var(--red);
	height: 1.2rem;
	margin: 0.3rem 0 1.2rem;
}

/* Use for Email Validation: /^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/g */

/* Query group */
.query__box {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.5rem;
}

.query__group {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding-right: 0;
	transition: all 0.3s ease;
}

.query__input,
.query__label {
	cursor: pointer;
}

/* style for custom radio buttons */
.query__input {
	display: none;
}

.query__label {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.query__input-btn {
	width: 1.5rem;
	height: 1.5rem;
	border: 1px solid var(--green);
	border-radius: 50%;
	position: relative;
}

.query__input-btn::after {
	content: '';
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-color: var(--green);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

.query__input:checked + .query__label .query__input-btn::after {
	opacity: 1;
}

/* active state for radio input container */
.query__group:has(.query__input:checked) {
	border: 1px solid var(--green);
	background-color: var(--light-green);
}

/* Message group */
.message .form__input {
	min-height: 10.5rem;
}

.button {
	width: 50%;
}

/* Success Message */
.hidden {
	max-width: 45rem;
	color: var(--white);
	background-color: var(--dark-grey);
	border-radius: 1.5rem;
	padding: 2rem 2rem;
	margin: 0 auto;
	position: absolute;
	top: 2%;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in;
}

.success-title-box {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.success-title {
	font-size: 1.8rem;
	font-weight: var(--font-w-bold);
	letter-spacing: 1px;
}

.success {
	opacity: 1;
	visibility: visible;
}
